/.vs

/windows_app/.vs
/windows_app/BleStopwatchClient/bin
/windows_app/BleStopwatchClient/obj
/windows_app/BleStopwatchClient/BleStopwatchClient.vbproj.user

/shield_pcb/fp-info-cache
/shield_pcb/MAX32655_StopwatchShield-backups
